<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сводный монитор Ставропольской ЛКШ-2017</title>
</head>
<body>
    <table border="1" align="center" cellpadding="4">
        <tr>
            <th rowspan="2">№</th>
            <th rowspan="2">Участник</th>
            {% for contest in contests %}
                <th colspan="{{ contest.1|length }}">{{ contest.0 }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for contest in contests %}
                {% for task in contest.1 %}
                    <th>{{ task }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for contestant in contestants %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ contestant.0 }}</td>

            {% for item in contestant.1 %}
                {% if "+" in item %}
                    <td align="center" bgcolor="#90FF77">{{ item }}</td>
                {% elif "-" in item %}
                    <td align="center" bgcolor="#DD290E">{{ item }}</td>
                {% else %}
                    <td align="center" bgcolor="#FFFFFF"></td>
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </table>
</body>
</html>